body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #343F4B;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

.notification {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 10px; }
  .notification:hover {
    background-color: #fafafb; }
  .notification_unread {
    background-color: #f1f3f4; }
    .notification_unread:hover {
      background-color: #f4f5f7; }
  .notification__text {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .notification__text__title {
      font-weight: 700; }
  .notification__picture__img {
    height: 60px;
    width: 60px;
    background-size: cover;
    border-radius: 50%; }

.notification-delim {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: visible;
  height: 4px;
  text-align: center;
  background-color: #f4f5f7;
  color: #8e9caa; }
  .notification-delim__text {
    position: relative;
    top: -9px; }
