body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #343F4B;
  color: white;
  overflow: hidden;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }
  body #root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll; }
    body #root > * {
      position: static; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

.layout-main {
  height: 100%;
  overflow-y: hidden; }
