body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #343F4B;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

.menu {
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: absolute; }
  .menu__strip {
    width: 10px;
    background-color: #343F4B; }
  .menu__links {
    width: 210px;
    background-color: #F0F1F2;
    box-sizing: border-box;
    transition: width 0.3s ease-in-out, color 0.3s ease-in-out; }
  .menu__content {
    background-color: white;
    color: #343F4B;
    box-sizing: border-box;
    flex: 1;
    padding: 0; }
  .menu__item {
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
    color: #5A6978;
    height: 30px;
    line-height: 30px; }
    .menu__item__icon {
      position: relative;
      flex: 1;
      min-width: 20px;
      max-width: 20px;
      text-align: center;
      padding-right: 15px; }
      .menu__item__icon__counter {
        display: none; }
    .menu__item__text {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .menu__item__text__counter {
        font-size: 12px;
        height: 24px;
        width: 28px;
        text-align: center;
        line-height: 24px;
        border-radius: 5px;
        margin-right: -14px;
        background-color: #DA7666;
        color: white; }
    .menu__item_grayed {
      opacity: 0.5; }
      .menu__item_grayed:hover {
        background-color: #F0F1F2 !important; }
    .menu__item:hover {
      background-color: #fbfbfb; }
    .menu__item:active {
      background-color: #5A6978;
      color: #F0F1F2; }
    .menu__item_selected {
      background-color: #5A6978;
      color: #F0F1F2; }
      .menu__item_selected:hover {
        background-color: #5A6978;
        color: #F0F1F2; }
  @media only screen and (min-width: 1001px) {
    .menu {
      width: 900px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; }
      .menu__strip {
        display: none; }
      .menu__links {
        width: 220px; }
      .menu__content {
        max-width: 680px; } }
  @media only screen and (min-width: 676px) and (max-width: 1000px) {
    .menu {
      left: 0;
      right: 0; } }
  @media only screen and (max-width: 675px) {
    .menu {
      left: 0;
      right: 0; }
      .menu .menu__strip {
        display: none; }
      .menu .menu__links_absolute {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1000;
        overflow-x: hidden;
        transition: left 0.3s ease-in-out; }
      .menu .menu__links_collapsed {
        left: -220px; }
      .menu .menu__links_expanded {
        left: 0; }
      .menu .menu__links_small {
        width: 50px;
        background-color: #343F4B; }
        .menu .menu__links_small .menu__item {
          padding: 5px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #F0F1F2;
          height: 30px; }
          .menu .menu__links_small .menu__item__text {
            display: none; }
          .menu .menu__links_small .menu__item__icon {
            padding: 0; }
            .menu .menu__links_small .menu__item__icon__counter {
              display: inline-block;
              position: absolute;
              top: -3px;
              right: -13px;
              font-size: 9px;
              color: white;
              background-color: #DA7666;
              width: 18px;
              height: 18px;
              line-height: 18px;
              border-radius: 50%; }
          .menu .menu__links_small .menu__item:hover {
            background-color: #5A6978; }
          .menu .menu__links_small .menu__item_grayed:hover {
            background-color: #343F4B !important; } }

.page__title {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #e2e4e6;
  color: #657687;
  padding: 20px;
  padding-bottom: 5px;
  padding-right: 35px;
  padding-left: 35px;
  margin: 0;
  background-color: #f8f9f9;
  box-sizing: border-box; }

.page__content {
  padding: 15px 35px 40px;
  min-height: 400px; }
