body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #343F4B;
  color: white;
  overflow: hidden;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }
  body #root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll; }
    body #root > * {
      position: static; }

.form__title {
  font-size: 48px;
  font-weight: 400;
  color: #5A6978;
  text-align: center; }

.form__links {
  color: #8e9caa; }
  .form__links > div {
    padding: 5px; }
  .form__links a {
    color: #5A6978;
    text-decoration: underline; }
    .form__links a:hover {
      text-decoration: none;
      color: #343F4B; }

.form .form-block {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px; }
  .form .form-block:first-child {
    padding-bottom: 0; }
  .form .form-block:last-child {
    padding-top: 0; }
