@import "globals.scss";


.form {

	&__title {
		font-size: $font-size-title;
		font-weight: $font-weight-title;
		color: $font-color-title;
		text-align: center;
	}

	&__links {
		color: lighten($gray, 20%);

		> div {
			padding: 5 * $base-unit;
		}

		a {
			color: $gray;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
				color: $black;
			}
		}
	}

	.form-block {
		display: flex;
		flex-direction: column;
		padding-top: $form-block-padding;
		padding-bottom: $form-block-padding;

		&:first-child {
			padding-bottom: 0;
		}

		&:last-child {
			padding-top: 0;
		}
	}
}
