body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #343F4B;
  color: white;
  overflow: hidden;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }
  body #root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll; }
    body #root > * {
      position: static; }

@media only screen and (max-width: 675px) {
  .layout-login {
    padding: 0 !important;
    margin: 0 !important; }
    .layout-login__outer {
      width: 100% !important;
      height: 100% !important;
      padding-left: 0;
      padding-right: 0; }
    .layout-login__content {
      padding-left: 20px;
      padding-right: 20px; } }
