body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #343F4B;
  color: white;
  overflow: hidden;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }
  body #root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll; }
    body #root > * {
      position: static; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #5A6978; }
  .header__wrapper {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media only screen and (min-width: 676px) and (max-width: 1000px) {
      .header__wrapper {
        width: 100%; } }
    @media only screen and (max-width: 675px) {
      .header__wrapper {
        width: 100%;
        height: 36px;
        overflow: hidden; } }
  .header__logo {
    background: #FF9052 no-repeat center;
    background-size: contain;
    height: 80px;
    width: 200px;
    border: 10px solid #FF9052;
    border-top-width: 12px;
    cursor: pointer; }
  .header__search {
    flex: 1; }
  .header__account {
    width: 300px;
    background-color: #718394; }
  .header__account-mobile {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .header__burger {
    background: #FF9052 no-repeat center;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .header__burger i {
      font-size: 150%;
      color: white; }
