body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f8;
  color: white;
  font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.scrollable {
  overflow-y: scroll;
  touch-action: pan-y;
  box-sizing: border-box; }

.input {
  margin: 2px;
  padding: 4px;
  height: 35px; }
  .input input {
    font-family: "Open Sans", Helvetica, "Segoe UI", sans-serif;
    font-size: 15px;
    color: #5A6978;
    height: 100%;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #5A6978;
    border-bottom-width: 2px;
    border-bottom-color: #343F4B;
    border-radius: 5px;
    padding: 5px 20px;
    min-width: 350px; }
    .input input::-moz-placeholder {
      color: #5A6978;
      opacity: 0.5; }
    .input input::-webkit-input-placeholder {
      color: #5A6978;
      opacity: 0.5; }
    .input input:-ms-input-placeholder {
      color: #5A6978;
      opacity: 0.5; }
    .input input:-moz-placeholder {
      color: #5A6978;
      opacity: 0.5; }
    .input input:focus {
      opacity: 1;
      outline: none;
      box-shadow: 0 0 0 1px #343F4B;
      text-overflow: clip; }
      .input input:focus::-moz-placeholder {
        color: transparent; }
      .input input:focus::-webkit-input-placeholder {
        color: transparent; }
      .input input:focus:-ms-input-placeholder {
        color: transparent; }
      .input input:focus:-moz-placeholder {
        color: transparent; }
    @media only screen and (max-width: 675px) {
      .input input {
        width: 100% !important; } }
  .input_invalid input {
    border-color: #DA7666; }
    .input_invalid input:focus {
      box-shadow: 0 0 0 1px #DA7666; }
  .input_valid input {
    border-color: #549F5D; }
    .input_valid input:focus {
      box-shadow: 0 0 0 1px #549F5D; }
